<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Search</title>
    <!-- Include stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-XXX" crossorigin="anonymous" />
</head>
<body>
    <h1>Product Search</h1>
    <div class="search-container">
        <!-- Thêm hai nút Find CAS và Find Code -->
        <button class="nav-button" onclick="window.location.href='http://192.168.68.128:8000'">Check liscense</button>
        <button class="nav-button" onclick="window.location.href='http://192.168.68.128:5001'">Find Code</button>

        <div class="input-box">
            <i class="fas fa-search"></i>
            <input type="text" id="searchQuery" placeholder="Search for products...">
            <button class="search-button">Search</button>
        </div>
    </div>

    <div class="filter-container">
        <!-- Div để chứa các checkbox của Brand -->
        <div id="brandCheckboxes">
            <!-- Checkboxes sẽ được thêm động bằng JavaScript -->
        </div>
        <!-- Div để chứa các checkbox của Size -->
        <div id="sizeCheckboxes">
            <!-- Checkboxes sẽ được thêm động bằng JavaScript -->
        </div>
    </div>

    <table id="results">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Cas</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Unit_Price</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <!-- Include necessary scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
